// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.block-wrapper {
  margin: auto;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  .block {
    position: absolute;
    width: 300px;
    height: 185px;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #fafafa;
  }

  .block.outline {
    border-color: green;
  }

  .block.content {
    background-color: #eee;
  }
}

.vertical-center {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}